fastapi==0.135.1
pydantic==2.12.5
uvicorn[standard]==0.42.0
python-dotenv==1.2.2
feedparser==6.0.12
PyYAML==6.0.3
tenacity==9.1.4
trafilatura==2.0.0
httpx==0.28.1
sentence-transformers==5.3.0
transformers==5.3.0
torch==2.10.0
aiofiles==25.1.0
apscheduler==3.11.2
syntok==1.4.4
numpy==2.4.3
umap-learn==0.5.12
hdbscan==0.8.43
